{% extends 'base.html' %}
{% block content %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0" id="que">
    <h1 class="display-4 font-italic">
      Clasificación de genomas completos de Arbovirus: Dengue, Zika y Chikungunya empleando CGR y Regresión Logística
    </h1>
    <p class="lead my-3">
      Por medio regresiones logísticas entrenadas a pares por medio de mapas de calor obtenidos mediante la CGR de las
      firmas genéticas de los virus estudiados.
    </p>
    <p class="lead mb-0">
      <a href="#como" class="text-white fw-bold">Saber más...</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
      De Guatemala, para el mundo.
    </h3>
    <article class="blog-post">
      <h2 class="blog-post-title">
        Carga de archivo
      </h2>
      <p class="blog-post-meta">
        Enero, 2021
      </p>
      <p>
        A continuación, proceda a cargar un archivo FASTA para conocer la clasificación de acuerdo a la regresión
        entrenada.
      </p>
      <div class="container">
        <p>
          Seleccione un archivo
        </p>
        <input type="file" id="fileChooser" style="display: none;" />
        <button class="btn btn-dark" onclick="cargarArchivo()">Seleccionar
          archivos</button>
      </div>
      <hr />
      <div class="container">
        <div id="picture">

        </div>
      </div>
    </article>
  </div>
  <div class="col-md-4">
    <div class="p-4 mb-3 bg-light rounded" id="como">
      <h4 class="font-italic">
        Acerca de
      </h4>
      <p class="mb-0">
        Utilizando el punto medio y la métrica euclidiana se realizó la representación del CGR de al menos 50 muestras
        del genoma completo de los virus (no se realizaron distinciones entre las cepas virales ni serotipos en el caso
        de Dengue). Luego se utilizó un modelo de regresión logística que realizó comparaciones a pares entre los
        genomas. Esta herramienta de clasificación fue montada sobre una página web a la cual es posible acceder para
        verificar la procedencia de un genoma del que se desconozca su clasificación mediante un archivo fasta. Debido
        al tamaño de nuestro dataset no se debe descartar la posibilidad de haber realizado overfitting. Aún así, las
        pruebas realizadas han dado resultados satisfactorios. Para futuro es posible realizar un modelo más robusto
        aumentando la cantidad de muestras y realizando técnicas de bootstrapping.
      </p>
    </div>
    <div class="p-4" id="quien">
      <h4 class="font-italic">
        Recursos
      </h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/pablunsky/gc-proyecto">GitHub</a></li>
        <li><a href="https://github.com/pablunsky/gc-proyecto/blob/master/Readme.md">Documentación</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/nuccore">Bases de datos</a></li>
      </ol>
    </div>
  </div>
</div>

<script>

  var fileChooser = document.getElementById('fileChooser');

  if (fileChooser)
    fileChooser.addEventListener("change", leerArchivo)

  async function leerArchivo()
  {
    let reader = new FileReader();

    reader.onload = function ()
    {
      let data = {
        name: fileChooser.files[0].name,
        data: reader.result.replace('data:', '')
          .replace(/^.+,/, '')
      }

      fetch('/uploadFile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(res =>
      {
        res.json().then(data =>
        {
          if (data.status === 'NOTOK')
          {
            document.getElementById("picture").innerHTML = `
            <div class="alert alert-danger" role="alert">
              <b>Resultado: </b><p>No se ha podido determinar una clasificación para el FASTA seleccionado.</p>
            </div>
            `;
            return;
          }
          document.getElementById("picture").innerHTML = `
          <div class="alert alert-info" role="alert">
            <b>Resultado: </b><p>${data.result}</p>
          </div>
          <img src="${data.heat.replace("b'", "data:application/octet-stream;base64,").slice(0, -1)}" alt="Archivo cargado"/>
          <br/>
          <img src="${data.scatter.replace("b'", "data:application/octet-stream;base64,").slice(0, -1)}" alt="Archivo cargado"/>`
        });
      });

    }
    reader.onerror = function (error)
    {
      console.log('Error: ', error);
    };

    reader.readAsDataURL(fileChooser.files[0]);
  }

  function cargarArchivo()
  {
    fileChooser.click();
  }

</script>
{% endblock %}